include *.txt
include README.md
include pyproject.toml

graft erddapy

prune docs
prune tests
prune notebooks
prune *.egg-info

exclude *.yml
exclude .pre-commit-config.yaml
exclude *.enc
exclude .gitignore
exclude .isort.cfg
exclude erddapy/_version.py
