black
cartopy>=0.21
check-manifest
geopandas
interrogate
joblib
jupyter
nbsphinx
netcdf4
pendulum>=2.0.1
pooch
pre-commit
pytest
pytest-cov
pytest-sugar
pytest-vcr
regionmask>=0.9
scitools-iris>=3.3.0
setuptools_scm
sphinx
twine
types-pytz
types-requests
wheel
xarray
