cartopy>=0.21
cartopy_offlinedata
check-manifest
geopandas
interrogate
joblib
jupyter
nbclassic
nbconvert
nbsphinx
netcdf4
pendulum>=2.0.1
pooch
pytest
pytest-cov
pytest-recording
pytest-sugar
regionmask>=0.9
scitools-iris>=3.3.0
setuptools_scm
sphinx
twine
types-requests
wheel
xarray
