black
cartopy
check-manifest
doctr
doctr-versions-menu
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
interrogate
isort
joblib
jupyter
mypy
nbsphinx
netcdf4
pendulum>=2.0.1
pre-commit
pydocstyle
pylint
pytest
pytest-cov
pytest-flake8
pytest-sugar
pytest-vcr
scitools-iris>=3
setuptools_scm
sphinx
twine
types-pytz
types-requests
wheel
xarray
