interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://standards.sensors.ioos.us/erddap/tabledap/org_cormp_cap2.htmlTable?crs&time%3E=2000-03-23T00%3A00%3A00Z&time%3C=2000-03-30T15%3A08%3A00Z
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<title>ERDDAP
        - org_cormp_cap2_e5f7_99ff_02e1</title>\n<link rel=\"shortcut icon\" href=\"/erddap/favicon.ico\">\n<link
        href=\"/erddap/images/erddap2.css\" rel=\"stylesheet\" type=\"text/css\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n</head>\n<body>
        <table class=\"compact nowrap\" style=\"width:100%; background-color:#128CB5;\">\n
        \ <tr>\n    <td style=\"text-align:center; width:80px;\"><a rel=\"bookmark\"\n
        \     href=\"https://www.noaa.gov/\"><img\n      title=\"National Oceanic
        and Atmospheric Administration\"\n      src=\"http://standards.sensors.ioos.us/erddap/images/noaab.png\"
        alt=\"NOAA\"\n      style=\"vertical-align:middle;\"></a></td>\n    <td style=\"text-align:left;
        font-size:x-large; color:#FFFFFF; \">\n      <strong>ERDDAP</strong>\n      <br><small><small><small>Easier
        access to scientific data</small></small></small>\n      </td>\n    <td style=\"text-align:right;
        font-size:small;\">\n      \n      <br>Brought to you by\n      <a title=\"National
        Oceanic and Atmospheric Administration\" rel=\"bookmark\"\n      href=\"https://www.noaa.gov\">NOAA</a>\n
        \     <a title=\"National Marine Fisheries Service\" rel=\"bookmark\"\n      href=\"https://www.fisheries.noaa.gov\">NMFS</a>\n
        \     <a title=\"Southwest Fisheries Science Center\" rel=\"bookmark\"\n      href=\"https://www.fisheries.noaa.gov/about/southwest-fisheries-science-center\">SWFSC</a>\n
        \     <a title=\"Environmental Research Division\" rel=\"bookmark\"\n      href=\"https://www.fisheries.noaa.gov/about/environmental-research-division-southwest-fisheries-science-center\">ERD</a>\n
        \     &nbsp; &nbsp;\n      </td>\n  </tr>\n</table>\n&nbsp;<br>\n&nbsp;\n<table
        class=\"erd commonBGColor nowrap\">\n<tr>\n<th>crs\n</tr>\n<tr>\n<th>&nbsp;\n</tr>\n<tr>\n<td
        class=\"R\">-2147483647\n</tr>\n<tr>\n<td class=\"R\">-2147483647\n</tr>\n<tr>\n<td
        class=\"R\">-2147483647\n</tr>\n<tr>\n<td class=\"R\">-2147483647\n</tr>\n<tr>\n<td
        class=\"R\">-2147483647\n</tr>\n<tr>\n<td class=\"R\">-2147483647\n</tr>\n<tr>\n<td
        class=\"R\">-2147483647\n</tr>\n<tr>\n<td class=\"R\">-2147483647\n</tr>\n<tr>\n<td
        class=\"R\">-2147483647\n</tr>\n<tr>\n<td class=\"R\">-2147483647\n</tr>\n<tr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://standards.sensors.ioos.us/erddap/tabledap/org_cormp_cap2.htmlTable?crs%26time%253E%3D2000-03-23T00%253A00%253A00Z%26time%253C%3D2000-03-30T15%253A08%253A00Z
  response:
    body:
      string: "Error {\n    code=400;\n    message=\"Bad Request: Query error: Unrecognized
        constraint variable=\\\"time%3E\\\".\";\n}\n"
    headers:
      Content-Description:
      - dods-error
      Content-Type:
      - text/plain;charset=UTF-8
      Last-Modified:
      - Tue, 28 Apr 2026 11:30:56 GMT
      erddap-server:
      - 2.30.0
      xdods-server:
      - dods/3.7
    status:
      code: 400
      message: ''
version: 1
