interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.mozilla.org/en-US/404
  response:
    content: "<!DOCTYPE html><html lang=\"en-US\" prefix=\"og: https://ogp.me/ns#\"><head><meta
      charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><link
      rel=\"icon\" href=\"/favicon-48x48.cbbd161b.png\"><link rel=\"apple-touch-icon\"
      href=\"/apple-touch-icon.6803c6f0.png\"><meta name=\"theme-color\" content=\"#ffffff\"><link
      rel=\"manifest\" href=\"/manifest.56b1cedc.json\"><link rel=\"search\" type=\"application/opensearchdescription+xml\"
      href=\"/opensearch.xml\" title=\"MDN Web Docs\"><script>Array.prototype.flat&&Array.prototype.includes||document.write('<script
      src=\"https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.flat%2Ces6\"><\\/script>')</script><title>\U0001F937\U0001F3FD\u200D\u2640\uFE0F
      Page not found | MDN Web Docs</title><meta name=\"description\" content=\"The
      MDN Web Docs site provides information about Open Web technologies including
      HTML, CSS, and APIs for both Web sites and progressive web apps.\"><meta property=\"og:url\"
      content=\"https://developer.mozilla.org\"><meta property=\"og:title\" content=\"\U0001F937\U0001F3FD\u200D\u2640\uFE0F
      Page not found | MDN Web Docs\"><meta property=\"og:description\[...]
