interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: http://erddap.sensors.ioos.us/erddap/tabledap/
  response:
    content: ''
    headers:
      Last-Modified:
      - Tue, 26 Apr 2022 16:51:35 GMT
      Location:
      - http://erddap.sensors.ioos.us/erddap/tabledap/index.html?page=1&itemsPerPage=1000
      erddap-server:
      - 2.02_axiom-r1
      xdods-server:
      - dods/3.7
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: http://erddap.sensors.ioos.us/erddap/tabledap/index.html?page=1&itemsPerPage=1000
  response:
    content: "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\">\n<title>ERDDAP
      - List of tabledap Datasets</title>\n<link rel=\"shortcut icon\" href=\"http://erddap.sensors.ioos.us/erddap/images/favicon.ico\">\n<link
      href=\"http://erddap.sensors.ioos.us/erddap/images/erddap2.css\" rel=\"stylesheet\"
      type=\"text/css\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n</head>\n<body>\n<table
      class=\"compact nowrap\" style=\"width:100%; background-color:#128CB5;\">\n
      \ <tr>\n    <td style=\"text-align:center; width:80px;\"><a rel=\"bookmark\"\n
      \     href=\"http://www.noaa.gov/\"><img\n      title=\"National Oceanic and
      Atmospheric Administration\"\n      src=\"http://erddap.sensors.ioos.us/erddap/images/noaab.png\"
      alt=\"NOAA\"\n      style=\"vertical-align:middle;\"></a></td>\n    <td style=\"text-align:left;
      font-size:x-large; color:#FFFFFF; \">\n      <strong>ERDDAP</strong>\n      <br><small><small><small>Easier
      access to scientific data</small></small></small>\n      </td>\n    <td style=\"text-align:right;
      font-size:small;\">\n       &nbsp; &nbsp;\n      <br>Brought to you by\n      <a
      title=\"National Oceanic and Atmospheric Administration\" rel=\"bookmark\"\n
      \     href=\"http://www.noaa.gov\">NOAA</a>\n      <a title=\"National Marine
      Fisheries Service\" rel=\"bookmark\"\n      href=\"http://www.nmfs.noaa.gov\">NMFS</a>\n
      \     <a title=\"Southwest Fisheries Science Center\" rel=\"bookmark\"\n      href=\"https://swfsc.noaa.gov\">SWFSC</a>\n
      \     <a title=\"Environmental Research Division\" rel=\"bookmark\"\n      href=\"https://swfsc.noaa.gov/textblock.aspx?Division=ERD&amp;id=1315&amp;ParentMenuId=200\">ERD</a>\n
      \     &nbsp; &nbsp;\n      </td>\n  </tr>\n</table>\n<!-- Big HTML tooltips
      are generated with wz_tooltip from \n    http://wztip.info/index.php/Main_Page
      (LGPL license) -->\n<script src=\"http://erddap.sensors.ioos.us/erddap/images/wz_tooltip.js\"></script>\n\n<div
      class=\"standard_width\">\n\n<h1 class=\"nowrap\"><a title=\"Click here to return
      to the ERDDAP home page.\" \nrel=\"start\" href=\"http://erddap.sensors.ioos.us/erddap/index.html\">ERDDAP</a>
      &gt; tabledap</h1>\nTabledap lets you use the OPeNDAP constraint/selection protocol
      to request data subsets, graphs, and maps from tabular datasets (for example,
      buoy data).\nFor a quick introduction, see this\n<a class=\"N\" rel=\"help\"
      href=\"https://www.youtube.com/watch?v=_BwMHRh7CS8\"><img \nstyle=\"vertical-align:middle\"
      alt=\"YouTube\" src=\"http://erddap.sensors.ioos.us/erddap/images/youtube.png\"
      /> \nvideo introduction to using tabledap<img\nsrc=\"http://erddap.sensors.ioos.us/erddap/images/external.png\"
      alt=\" (external link)\"\ntitle=\"This link to an external website does not
      constitute an endorsement.\" /></a>.\n\nFor details, see\n<a rel=\"help\" href=\"http://erddap.sensors.ioos.us/erddap/tabledap/documentation.html\">
      ERDDAP's&nbsp;tabledap&nbsp;Documentation</a>.\n<p>38910 matching datasets,
      listed in alphabetical order.\n&nbsp;&nbsp;View page: &nbsp;1&nbsp;(current)&nbsp;\n&nbsp;<a
      rel=\"next\" href=\"http&#x3a;&#x2f;&#x2f;erddap&#x2e;sensors&#x2e;ioos&#x2e;us&#x2f;erddap&#x2f;tabledap&#x2f;index&#x2e;html&#x3f;page&#x3d;2&#x26;itemsPerPage&#x3d;1000\">2</a>&nbsp;\n...\n&nbsp;<a
      rel=\"bookmark\" href=\"http&#x3a;&#x2f;&#x2f;erddap&#x2e;sensors&#x2e;ioos&#x2e;us&#x2f;erddap&#x2f;tabledap&#x2f;index&#x2e;html&#x3f;page&#x3d;39&#x26;itemsPerPage&#x3d;1000\">39</a>&nbsp;\n.\n\n<span
      class=\"N\">(Or, refine this search with <span class=\"N\"><a href=\"http&#x3a;&#x2f;&#x2f;erddap&#x2e;sensors&#x2e;ioos&#x2e;us&#x2f;erddap&#x2f;search&#x2f;advanced&#x2e;html&#x3f;page&#x3d;1&#x26;itemsPerPage&#x3d;1000&#x26;protocol&#x3d;tabledap\">Advanced&nbsp;Search</a>&nbsp;<img
      src=\"http&#x3a;&#x2f;&#x2f;erddap&#x2e;sensors&#x2e;ioos&#x2e;us&#x2f;erddap&#x2f;images&#x2f;QuestionMark&#x2e;jpg\"
      alt=\"&#x3f;\" onmouseover=\"Tip('<div class=&quot;narrow_max_width&quot;>Advanced
      Search combines all of the search techniques and adds searches for datasets
      that have data within longitude, latitude, and time ranges, so you can search
      for datasets based on many different criteria simultaneously.</div>')\" onmouseout=\"UnTip()\"
      \ >\n</span>)</span>\n<table class=\"erd nowrap commonBGColor nowrap\" >\n<tr>\n<th>Grid<br>DAP<br>Data\n<th>Sub-<br>set\n<th>Table<br>DAP<br>Data\n<th>Make<br>A<br>Graph\n<th>W<br>M<br>S\n<th>Source<br>Data<br>Files\n<th>Title\n<th>Sum-<br>mary\n<th>FGDC,<br>ISO,<br>Metadata\n<th>Back-<br>ground<br>Info\n<th>RSS\n<th>E<br>mail\n<th>Institution\n<th>Dataset
      ID\n</tr>\n<tr>\n<td>&nbsp;\n<td>&nbsp;\n<td>&nbsp;<a rel=\"chapter\" href=\"http://erddap.sensors.ioos.us/erddap/tabledap/gov_usgs_waterdata_400155101521302.html\"
      title=\"Click to see a tabledap Data Access For[...]
