interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.mozilla.org/en-US/404
  response:
    content: "<!doctype html><html lang=\"en-US\" prefix=\"og: https://ogp.me/ns#\"><head><meta
      charset=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/><link
      rel=\"icon\" href=\"/favicon-48x48.cbbd161b.png\"/><link rel=\"apple-touch-icon\"
      href=\"/apple-touch-icon.6803c6f0.png\"/><meta name=\"theme-color\" content=\"#ffffff\"/><link
      rel=\"manifest\" href=\"/manifest.56b1cedc.json\"/><link rel=\"search\" type=\"application/opensearchdescription+xml\"
      href=\"/opensearch.xml\" title=\"MDN Web Docs\"/><script>Array.prototype.flat&&Array.prototype.includes||document.write('<script
      src=\"https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.flat%2Ces6\"><\\/script>')</script><title>\U0001F937\U0001F3FD\u200D\u2640\uFE0F
      Page not found | null</title><meta name=\"robots\" content=\"noindex, nofollow\"><meta
      name=\"description\" content=\"The MDN Web Docs site provides information about
      Open Web technologies including HTML, CSS, and APIs for both Web sites and progressive
      web apps.\"/><meta property=\"og:url\" content=\"https://developer.mozilla.org\"/><meta
      property=\"og:title\" content=\"\U0001F937\U0001F3FD\u200D\u2640\uFE0F Page
      not found | null\"/><meta property=\"og:locale\" content=\"en-US\"/><meta property=\"og:description\"
      content=\"The MDN Web Docs site provides information about Open Web technologies
      including HTML, CSS, and APIs for both Web sites and progressive web apps.\"/><meta
      property=\"og:image\" content=\"https://developer.mozilla.org/mdn-social-share.cd6c4a5a.png\"/><meta
      property=\"twitter:card\" content=\"summary_large_image\"/><link rel=\"canonical\"
      href=\"https://developer.mozilla.org\"/><style media=\"print\">.breadcrumbs-container,.document-toc-container,.language-menu,.language-toggle,.on-github,.page-footer,.top-navigation-main,nav.sidebar,ul.prev-next{display:none!important}.main-page-content,.main-page-content
      pre{padding:2px}.main-page-content pre{border-left-width:2px}</style><script
      src=\"/static/js/ga.js\" defer=\"\"></script><script defer=\"defer\" src=\"/static/js/main.f61b1259.js\"></script><link
      href=\"/static/css/main.58dd71ae.css\" rel=\"stylesheet\"></head><body><script>const
      c={light:\"#ffffff\",dark:\"#1b1b1b\"};if(window&&document.documentElement){const
      e=window.localStorage.getItem(\"theme\");e&&(document.documentElement.className=e,document.documentElement.style.backgroundColor=c[e])}</script><div
      id=\"root\"><ul id=\"nav-access\" class=\"a11y-nav\"><li><a id=\"skip-main\"
      href=\"#content\">Skip to main content</a></li><li><a id=\"skip-search\" href=\"#top-nav-search-q\">Skip
      to search</a></li></ul><div class=\"page-wrapper   standard-page \"><header
      class=\"main-document-header-container top-navigation \n      \n      \"><div
      class=\"container \"><div class=\"top-navigation-wrap\"><a href=\"/en-US/\"
      class=\"logo\" aria-label=\"MDN homepage\"><svg id=\"mdn-docs-logo\" xmlns=\"http://www.w3.org/2000/svg\"
      viewBox=\"0 0 361 104.2\" style=\"enable-background:new 0 0 361 104.2\" xml:space=\"preserve\"
      role=\"img\"><title>MDN Web Docs</title><path d=\"M197.6 73.2h-17.1v-5.5h3.8V51.9c0-3.7-.7-6.3-2.1-7.9-1.4-1.6-3.3-2.3-5.7-2.3-3.2
      0-5.6 1.1-7.2 3.4s-2.4 4.6-2.5 6.9v15.6h6v5.5h-17.1v-5.5h3.8V51.9c0-3.8-.7-6.4-2.1-7.9-1.4-1.5-3.3-2.3-5.6-2.3-3.2
      0-5.5 1.1-7.2 3.3-1.6 2.2-2.4 4.5-2.5 6.9v15.8h6.9v5.5h-20.2v-5.5h6V42.4h-6.1v-5.6h13.4v6.4c1.2-2.1
      2.7-3.8 4.7-5.2 2-1.3 4.4-2 7.3-2s5.3.7 7.5 2.1c2.2 1.4 3.7 3.5 4.5 6.4 1.1-2.5
      2.7-4.5 4.9-6.1s4.8-2.4 7.9-2.4c3.5 0 6.5 1.1 8.9 3.3s3.7 5.6 3.7 10.2v18.2h6.1v5.5zm42.5
      [...]
