name: Core Tests

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
    branches: [main]

defaults:
  run:
    shell: bash

jobs:
  packages:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405   # v6.2.0
      with:
        python-version: "3.x"

    - name: Install
      run: >
        python -m pip install .
        && python -m pip install pytest

    - name: Core Tests
      run:  python -m pytest -rxs tests/test_erddapy.py
